<!DOCTYPE HTML>
<html>
<head>
    <title> 动态生成菜单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bui-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css"/>   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
    <link href="../assets/css/prettify.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
    .right{
        width:70%;
        border:1px;
        cellpadding:0;
        cellspacing:1px;
        align:left;
        bgcolor:#0000FF;
    }
    .right TD{
        height:10px;
    }



    </style>
</head>
<body>

<div width="70%" align="center" height="100%">
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="8%">
        <TBODY>
        <TR>
            <TD width="40%" align="left" class="text_18bblue">相应专栏</TD>
            <TD width="60%" align="right" valign="bottom" class="text3">&nbsp;</TD>
        </TR>
        <TR>
            <TD height="1" colspan="2" bgcolor="#a7bccd">
        </TR>
        </TBODY>
    </TABLE>

    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="20%">
        <TBODY>
        <TR>
            <TD><IMG src="../static/image/zm_img.gif" width="726" height="80" vspace="7"></TD>
        </TR>
        </TBODY>
    </TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="2%">
        <TBODY>
        <TR>
            <TD height="8">
        </TR>
        </TBODY>
    </TABLE>
    <TABLE class="right" cellspacing="1" bgcolor="#0000FF">
        <TBODY>
        <TR padding="0">
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">工单名称</TD>
            <TD align="center" width="25%" bgcolor="#FFFFFF" class="text">工单内容</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">创建人</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">时间限制</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">发送对象</TD>
            <TD align="center" width="5%" bgcolor="#FFFFFF" class="text">创建时间</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">状态</TD>
        </TR>
        {% for CoWformInfs in CoWformInf %}
        <TR padding="0">
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">{{CoWformInfs.1}}</TD>
            <TD align="center" width="25%" bgcolor="#FFFFFF" class="text">·<A
                    href="#"
                    target="_blank">{{CoWformInfs.7}}</A></TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">{{CoWformInfs.12}}</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">{{CoWformInfs.4}}</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">·<A
                    href="#"
                    target="_blank">{{CoWformInfs.5}}</A></TD>
            <TD align="center" width="5%" bgcolor="#FFFFFF" class="text">{{CoWformInfs.6}}</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">{{CoWformInfs.9}}</TD>
        </TR>
        {% endfor %}

        </TBODY>
    </TABLE>

    </TD>
    </TR>
    </TBODY></TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="2%">
        <TBODY>
        <TR>
            <TD height="8">
        </TR>
        </TBODY>
    </TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="8%">
        <TBODY>
        <TR>
            <TD width="419" align="center" background="../static/image/bottom_bg.gif" class="text"><A
                    href="http://www.hezuo100.com:8099/cmip/face/about_us.jsp" target="_blank">关于我们</A> | <A
                    href="http://www.hezuo100.com:8099/cmip/face/dh.jsp" target="_blank">网站导航</A> | 服务热线10086
            </TD>
            <TD width="137"><IMG src="../static/image/bottom_logo.gif" width="193" height="44"></TD>
            <TD width="388" align="center" background="../static/image/bottom_bg.gif" class="text">中国移动通信版权所有</TD>
        </TR>
        </TBODY>
    </TABLE>
</div>
<body>
</html>  