<!DOCTYPE HTML>
<html>
<head>
    <title> 资源文件结构</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bui-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css"/>   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
    <link href="../assets/css/prettify.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }




    </style>
    <script type="text/javascript">

   function aaa()
   {
     if(checkPassword() && quePassword())
     {
       return true;
     }else{
       return false;
     }
   }
    function checkPassword()
	{
	   var upass=document.getElementById("userPwd").value;
	   var p=/^[\w]{3,12}$/;
	   if(p.test(upass)){
            return true;
       }else{
             alert("密码有误");
             return false;
        }
	}

	function quePassword()
	{
	   var upass=document.getElementById("userPwd").value;
	   var upass1=document.getElementById("userPwd2").value;
	   var p=/^[\w]{3,12}$/;
	   if(upass==upass1 && p.test(upass1))
	   {
	       return true;
	   }else
	   {
	       alert("密码不一致");
           return false;
	   }
	}



    </script>
</head>
<body>

<div class="container" width="80%"  align="center">
    <!--<h2 align="left" width="944">修改密码</h2>-->
    <form name="form1" method="post" action="../ResourceControl/" onsubmit="return aaa()">
        <table width="80%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td width="9%" align="center" valign="middle"><img src="../static/assets/img/bg_point1.gif" width="4"
                                                                   height="7"></td>
                <td width="91%" class="index-12ahuase STYLE1">修改密码</td>
            </tr>
            </tbody>
        </table>
        <hr align="center" width="100%" style="border: 1px  dashed   #CCCCFF;">
        <table width="62%" height="132" border="0" align="center" cellspacing="1" bgcolor="#0000FF">
            <tr>
                <td width="36%" align="right" bgcolor="#FFFFFF"><span class="STYLE4">用户账号：</span></td>
                <td width="64%" bgcolor="#FFFFFF"><label>{{userName}}
            </tr>
            <tr>
                <td align="right" bgcolor="#FFFFFF"><span class="STYLE4">旧密码：</span></td>
                <td bgcolor="#FFFFFF"><label>
                    <input type="password" name="userPwd1" value="" id="userPwd1" onblur="check()">
                    <script type="text/javascript">
            function check()
			{
			   var upass=document.getElementById("userPwd1").value;
			   if(upass=={{userPwd}}){
		            return true;
		       }else{
		             alert("旧密码有误！！！");
		             return false;
		        }
			}
                    </script>
                </label></td>
            </tr>
            <tr>
                <td align="right" bgcolor="#FFFFFF"><span class="STYLE4">新密码：</span></td>
                <td bgcolor="#FFFFFF"><label>
                    <input type="password" name="userPwd" id="userPwd">
                </label></td>
            </tr>
            <tr>
                <td align="right" bgcolor="#FFFFFF"><span class="STYLE4">确认新密码：</span></td>
                <td bgcolor="#FFFFFF"><label>
                    <input type="password" name="userPwd2" id="userPwd2">
                </label></td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#FFFFFF">
                    <input type="image" src="../static/assets/img/czi-01.gif" width="61" height="26"></td>
            </tr>
        </table>
    </form>

</div>
<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bui-min.js"></script>

<script type="text/javascript" src="../assets/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');




</script>
<!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
<script type="text/javascript" src="../assets/js/prettify.js"></script>
<script type="text/javascript">
    $(function () {
      prettyPrint();
    });




</script>

<body>
</html>  