<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bui-min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css"/>   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
    <link href="../assets/css/prettify.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
    .right{
        width:70%;
        border:1px;
        cellpadding:0;
        cellspacing:1px;
        align:left;
        bgcolor:#0000FF;
    }
    .right TD{
        height:10px;
    }

    </style>
    <script>
        function RecruitmentOnes(data){
            top.topManager.openPage({
            id : 'test1',
            href : '../RecruitmentOne?invtId='+data,
            title : '详情页'
          });
        }
    </script>
</head>
<body>

<div width="70%" align="center" height="100%">
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="8%">
        <TBODY>
        <TR>
            <TD width="40%" align="left" class="text_18bblue">相应专栏</TD>
            <TD width="60%" align="right" valign="bottom" class="text3">&nbsp;</TD>
        </TR>
        <TR>
            <TD height="1" colspan="2" bgcolor="#a7bccd">
        </TR>
        </TBODY>
    </TABLE>

    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="20%">
        <TBODY>
        <TR>
            <TD><IMG src="../static/image/zm_img.gif" width="726" height="80" vspace="7"></TD>
        </TR>
        </TBODY>
    </TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="2%">
        <TBODY>
        <TR>
            <TD height="8">
        </TR>
        </TBODY>
    </TABLE>
    <TABLE class="right" cellspacing="1" bgcolor="#0000FF">
        <TBODY>
        <TR padding="0">
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">响应公司</TD>
            <TD align="center" width="25%" bgcolor="#FFFFFF" class="text">招募主题</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">联系人</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">电话号码</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">投递邮箱</TD>
            <TD align="center" width="5%" bgcolor="#FFFFFF" class="text">投标价格</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">企业类型</TD>
        </TR>
        {% for CoInvtInfs in CoInvtResponse %}
        <TR padding="0">
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.1}}</TD>
            <TD align="center" width="25%" bgcolor="#FFFFFF" class="text">·<A
                    href="javascript:RecruitmentOnes({{CoInvtInfs.0}})"
                    target="_blank">{{CoInvtInfs.19}}</A></TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.2}}</TD>
            <TD align="center" width="8%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.3}}</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.4}}</TD>
            <TD align="center" width="5%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.5}}</TD>
            <TD align="center" width="10%" bgcolor="#FFFFFF" class="text">{{CoInvtInfs.28}}</TD>
        </TR>
        {% endfor %}

        </TBODY>
    </TABLE>

    </TD>
    </TR>
    </TBODY></TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="2%">
        <TBODY>
        <TR>
            <TD height="8">
        </TR>
        </TBODY>
    </TABLE>
    <TABLE width="70%" border="0" align="center" cellpadding="0" cellspacing="0" height="8%">
        <TBODY>
        <TR>
            <TD width="419" align="center" background="../static/image/bottom_bg.gif" class="text"><A
                    href="http://www.hezuo100.com:8099/cmip/face/about_us.jsp" target="_blank">关于我们</A> | <A
                    href="http://www.hezuo100.com:8099/cmip/face/dh.jsp" target="_blank">网站导航</A> | 服务热线10086
            </TD>
            <TD width="137"><IMG src="../static/image/bottom_logo.gif" width="193" height="44"></TD>
            <TD width="388" align="center" background="../static/image/bottom_bg.gif" class="text">中国移动通信版权所有</TD>
        </TR>
        </TBODY>
    </TABLE>
</div>
<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bui-min.js"></script>

<script type="text/javascript" src="../assets/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');







</script>
<!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
<script type="text/javascript" src="../assets/js/prettify.js"></script>
<script type="text/javascript">
    $(function () {
      prettyPrint();
    });







</script>

<body>
</html>  